-r requirements.txt
# picamera2 and rpi-libcamera will be used from system packages
# when using --system-site-packages
# If installing manually, use:
# sudo apt install -y python3-picamera2 python3-libcamera